<header fxLayout="row"
  fxLayoutAlign="space-between center">
  <md-icon (click)="toggle()">menu</md-icon>
  <h1 (click)="navToGithub()">{{ title }}</h1>
</header>
<md-sidenav-container (backdropClick)="bdClick()"
  [@toggle]="state">
  <md-sidenav #sidenav mode="over">
    <nav md-tab-nav-bar
      fxLayout="column"
      fxLayoutAlign="flex-start center">
      <div class="avatar"
        (click)="navToGithub()"></div>
      <div fxLayout="column"
        fxLayoutAlign="space-between"
        fxLayoutGap="1rem">
        <a md-tab-link
          *ngFor="let link of navLinks"
          (click)="toggle()"
          [routerLink]="link.path">
          {{link.name | uppercase}}
        </a>
      </div>
    </nav>
  </md-sidenav>
</md-sidenav-container>
