h2 {
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Microsoft Yahei", "微软雅黑", Arial, sans-serif;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #eee;
}

div {
  width: 60%;
  margin: 2rem auto;
}

ul {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

md-card {
  cursor: pointer;
}

md-card-content {
  font-size: 1rem;
  line-height: 1.2rem;
  max-height: 3.6rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

hr {
  text-align: center;
  border: none;
  border-top: 1px solid silver;
  color: silver;
}

hr::after {
  font-size: 1rem;
  content: '没有更多了哟';
  display: inline-block;
  position: relative;
  top: -0.7em;
  padding: 0 0.5rem;
  background: white;
}
