<footer fxLayout="column"
  fxLayoutAlign="space-around none"
  [ngStyle.lt-sm]="{'height.rem': 16}">
  <div class="social-container"
    fxLayout.gt-xs="row"
    fxLayout.xs="column"
    fxLayoutGap.xs="0.75rem"
    fxLayoutAlign="space-around space-around">
    <button md-raised-button
      fxLayout="column"
      fxLayoutAlign="center center"
      color="accent"
      *ngFor="let social of socialNetworks"
      (click)="linkToSocialNetwork(social)">
        <md-icon fontSet="fa"
        [fontIcon]="social.icon"
        aria-hidden="true"></md-icon>
        {{social.name}}
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">© Nikaple 2012-2016</div>
</footer>
