<div class="container"
  fxLayout="column">
  <main fxFlex="1">
    <div class="spinner-container">
      <md-progress-spinner mode="indeterminate" [fxHide]="!!post"></md-progress-spinner>
    </div>
    <markdown [data]="post ? post.content : ''"></markdown>
  </main>
    <div class="buttons"
      fxLayout="row"
      fxLayoutAlign="space-between">
    <button md-raised-button (click)="onPrevPost()"
      [disabled]="!prevBlogExists"
      [fxShow]="!!post">Previous Blog</button>
    <button md-raised-button (click)="onNextPost()"
      [disabled]="!nextBlogExists"
      [fxShow]="!!post">Next Blog</button>
  </div>
</div>
