.carousel-container {
  position: relative;
  width: 1200px;
  height: 378px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

app-carousel {
  position: absolute;
  list-style: none;
  display: inline-block;
}

ol {
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  bottom: 1rem;
}

li {
  border-top: 0.25rem solid rgba(255,255,255,0.6);
  width: 2rem;
  position: relative;
  list-style: none;
  margin: 0.3rem;
  cursor: pointer;
  transition: all 1s ease;
}

li.active {
  border-color: rgba(255,255,255,1);
}

img {
  width: 100%;
}

div.icon-container {
  position: relative;
  width: 8rem;
  z-index: 1;
}

div.icon-container:hover md-icon{
  opacity: 0.8;
  text-shadow: 1px 1px 2px lightgray;
}

md-icon {
  opacity: 0.3;
  position: absolute;
  color: rgba(255, 255, 255, 1);
  z-index: 2;
  top: 50%;
  left: 50%;
  display: inline-block;
  transition: all 0.2s ease;
  width: 4rem;
  height: 4rem;
  transform: translate(-50%, -50%);
}

md-icon::before {
  font-size: 4rem;
}
