<div class="carousel-container"
  fxLayout="row"
  fxLayoutAlign="space-between stretch"
  (mouseenter)="pause()"
  (mouseleave)="cycle()">
  <div class="icon-container"
    (click)="clickable && cycleToPrev()"
    fxHide.lt-md>
    <md-icon class="icon-left" fontSet="fa"
      [fontIcon]="icons.left"
      aria-hidden="true"></md-icon>
  </div>
  <ol fxLayout="row"
    fxLayoutAlign="center center"
    fxHide.lt-md>
    <li *ngFor="let slide of slides"
      [ngClass]="isActiveSlide(slide) ? 'active' : ''"
      (click)="clickable && cycleToSelected(getIdxBySlide(slide), false)">
    </li>
  </ol>
  <div class="icon-container"
    (click)="clickable && cycleToNext()"
    fxHide.lt-md>
    <md-icon class="icon-right" fontSet="fa"
      [fontIcon]="icons.right"
      aria-hidden="true"></md-icon>
  </div>
  <app-carousel *ngFor="let slide of slides"
    (clickable)="changeClickable($event)"
    (panLeft)="clickable && onPanLeft($event)"
    (panRight)="clickable && onPanRight($event)"
    [slide]="slide"></app-carousel>
</div>
