.carousel-container {
  position: relative;
  width: 1200px;
  height: 378px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

app-carousel {
  position: absolute;
  list-style: none;
  display: inline-block;
}

img {
  width: 100%;
}
